<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/Content/css/profile.css">
</head>
<body>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                START SECTION 1 - Left Panel
    /////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="container">
        <!--================ Start Aside: Left Panel =================-->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../../Assets/images/logo.png">
                    <h2>Task<span class="success">Hub</span> </h2>
                </div>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <!--================ Start dashboard sidebar =================-->
            <div class="sidebar">
                <a href="../../Views/Home/index.html">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <!--<a href="#">
                    <span class="material-icons-sharp">work</span>
                    <h3>Compartido</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Reportes</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Análisis</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>Mensajes</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Productos</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">report_gmailerrorred</span>
                    <h3>Reportes</h3>
                </a>-->
                <a href="#" class="active">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Perfil</h3>
                </a>
                <a href="../../Views/User/projectForm.html">
                    <span class="material-icons-sharp">add</span>
                    <h3>Añadir Proyecto</h3>
                </a>
                <a href="/user/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!--================ End of Aside Area =================-->

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    START SECTION 2 - Central Panel
        /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <main>
            <h1>Perfil</h1>

            <div class="forms">
                <div class="forms-wrapper">
                    <div class="nav-column">
                        <div>
                            <h1 class="text-center">Opciones</h1>
                        </div>
                        <div>
                            <a id="user-link">
                                <i class='bx bxs-user-account'></i>
                                Cuenta
                            </a>
                            <a id="password-link">
                                <i class='bx bx-lock'></i>
                                Contraseña
                            </a>
                            <a id="delete-link">
                                <i class='bx bxs-user-x'></i>
                                Eliminar mi cuenta
                            </a>
                        </div>
                    </div>

                    <!-- Form to update the name -->
                    <div class="form-column">
                        <form class="card user-form">
                            <h1>Editar Perfil</h1>
                            <label for="NombreUsuario">Nombre</label>
                            <input id="NombreUsuario" name="NombreUsuario" type="text" placeholder="Name">
                            <label for="usuario">Usuario</label>
                            <input id="usuario" name="usuario" type="text" placeholder="user" disabled>
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" placeholder="email@gmail.com" disabled>
                            <button>
                                <div class="svg-wrapper-1">
                                    <div class="svg-wrapper">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </div>
                                <span>Enviar</span>
                            </button>
                        </form>

                        <!-- Form to update the password -->
                        <form class="card password-form" style="display: none;">
                            <h1>Editar contraseña</h1>
                            <label for="pass1">Contraseña</label>
                            <input id="pass1" name="pass1" type="password" placeholder="*****">
                            <label for="pass2">Repetir contraseña</label>
                            <input id="pass2" name="pass2" type="password" placeholder="*****">

                            <button>
                                <div class="svg-wrapper-1">
                                    <div class="svg-wrapper">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </div>
                                <span>Enviar</span>
                            </button>
                        </form>

                        <!-- Form to delete the user -->
                        <form class="card delete-form" style="display: none;">
                            <h1>Eliminar Cuenta</h1>
                            <p>¿Estás seguro de que deseas eliminar tu cuenta?</p>
                            <button class="deleteBtn" type="submit" id="deleteButton" >Eliminar Cuenta</button>
                        </form>
                    </div>
                </div>

            </div>
        </main>
        <!--================ End of Main: Central Panel=================-->

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    START SECTION 3 - Right Panel
        /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <div class="right">
            <!--================ Start Top =================-->
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>

                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b id="userNamePlaceholder"></b></p>
                        <small class="text-muted">Welcome!</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../../Assets/images/logo.png">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Scripts for index -->
    <script src="../../Scripts/JS/index/index.js"></script>
    <script src="../../Scripts/JS/index/getParams.js"></script>

    <!-- Scripts for Profile update -->
    <script src="../../Scripts/JS/profile/loadUserData.js"></script>
    <script src="../../Scripts/JS/profile/updateProfile.js"></script>
    <script src="../../Scripts/JS/profile/deleteProfile.js"></script>
    <script src="../../Scripts/JS/profile/toggleForm.js"></script>

</body>
</html>