<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/Content/css/forms.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Nuevo Proyecto</h1>

        <form id="projectForm">

            <div class="form-group">
                <input type="text" id="projectName" name="projectName" required>
                <div class="underline"></div>
                <label for="projectName">Nombre del Proyecto:</label>
            </div>

            <div class="form-group">
                <textarea id="description" name="description" required></textarea>
                <div class="underline"></div>
                <label for="description">Descripción:</label>
            </div>

            <div class="form-group">
                <input type="date" id="dueDate" name="dueDate" required>
                <div class="underline"></div>
                <label for="dueDate">Fecha de Vencimiento:</label>
            </div>

            <div class="buttons">
                <button type="submit" class="create-button" id="createProjectBtn"> <div><h3>Crear Proyecto</h3></div></button>
                <a href="../../Views/Home/index.html" class="return-button" id="returnBtn"> <div><h3>Regresar</h3></div></a>
            </div>

        </form>
    </div>

    <!-- Scripts for form -->
    <script src="../../Scripts/JS/form/createProjectForm.js"></script>
    <script src="../../Scripts/JS/form/obtainDate.js"></script>

    <!-- Scripts for index -->
    <script src="../../Scripts/JS/index/projects/getProject.js"></script>
    <script src="../../Scripts/JS/index/projects/createProject.js"></script>

</body>
</html>