<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/Content/css/projects.css" />

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
    <div class='app'>

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    START SECTION 1 - Main Panel
        /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <main class='project'>
            <div class='project-info'>
                <h1>Project Homepage</h1>
                <div class='project-participants'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <button class='project-participants__add'>Add Participant</button>
                </div>
            </div>

            <!--================ Start Tasks Panel =================-->
            <div class='project-tasks'>

                <!--================ Start Column - Task Ready =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>Task Ready</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>

                    <!--================ Start Task - Create new task =================-->
                    <div class='task-create' draggable="false">
                        <div class='task-create__tags'>
                            <span>Create New task</span>
                            <button class='task__options'><i class="fas fa-clipboard-check"></i></button>
                        </div>
                        <div class='task-create__textarea'>
                            <div class="form-group">
                                <textarea id="description" name="description" placeholder="What is the name of the task?"></textarea>
                            </div>
                        </div>
                        <div class='task-create__stats'>
                            <span><i class="fas fa-tag"></i></span>
                            <div class='task-create__tags'>
                                <select id="tagSelect" class='custom-select'>
                                    <option value="Low Priority">Low Priority</option>
                                    <option value="Medium Priority">Medium Priority</option>
                                    <option value="High Priority">High Priority</option>
                                </select>
                            </div>
                        </div>
                        <div class='task-create__button' draggable='false'>
                            <button>Done</button>
                        </div>
                    </div>

                    <div class='task' draggable='true'>
                        <div class='task__tags'>
                            <span class='task__tag task__tag--high'>High Priority</span>
                            <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                        </div>
                        <p>Services section</p>
                        <div class='task__stats'>
                            <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                            <span><i class="fas fa-comment"></i>3</span>
                            <span><i class="fas fa-paperclip"></i>7</span>
                            <span class='task__owner'></span>
                        </div>
                    </div>

                </div><!--================ End of Column - Task Ready =================-->

                <!--================ Start Column - In Progress =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>In Progress</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>

                    <div class='task' draggable='true'>
                        <div class='task__tags'>
                            <span class='task__tag task__tag--low'>Low Priority</span>
                            <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                        </div>
                        <p>Replace all the code from CSS to SCSS</p>
                        <div class='task__stats'>
                            <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                            <span><i class="fas fa-comment"></i>5</span>
                            <span><i class="fas fa-paperclip"></i>5</span>
                            <span class='task__owner'></span>
                        </div>
                    </div>

                </div><!--================ End of Column - In Progress =================-->

                <!--================ Start Column - Needs review =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>Needs Review</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>

                    <div class='task' draggable='true'>
                        <div class='task__tags'>
                            <span class='task__tag task__tag--high'>High Priority</span>
                            <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                        </div>
                        <p>Check the company we copied doesn't think we copied them.</p>
                        <div class='task__stats'>
                            <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                            <span><i class="fas fa-comment"></i>4</span>
                            <span><i class="fas fa-paperclip"></i>0</span>
                            <span class='task__owner'></span>
                        </div>
                    </div>

                </div><!--================ End of Column - Needs review =================-->

                <!--================ Start Column - Tasks Done =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>Done</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>

                    <div class='task' draggable='true'>
                        <div class='task__tags'>
                            <span class='task__tag task__tag--medium'>Medium Priority</span>
                            <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                        </div>
                        <p>Send illustrations over to production company.</p>
                        <div class='task__stats'>
                            <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                            <span><i class="fas fa-comment"></i>12</span>
                            <span><i class="fas fa-paperclip"></i>5</span>
                            <span class='task__owner'></span>
                        </div>
                    </div>

                </div><!--================ End of Column - Tasks Done =================-->

            </div><!--================ End of Tasks Panel =================-->
        </main><!--================ End of Main Panel =================-->

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    START SECTION 2 - Tasks progress & Activity Panel
        /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <aside class='task-details'>

            <!--================ Start Task progress =================-->
            <div class='tag-progress'>
                <h2>Task Progress</h2>
                <div class='tag-progress'>
                    <p>High Priority <span>3/8</span></p>
                    <progress class="progress progress--high" max="8" value="3"> 3 </progress>
                </div>
                <div class='tag-progress'>
                    <p>Medium Priority <span>6/10</span></p>
                    <progress class="progress progress--medium" max="10" value="6"> 6 </progress>
                </div>
                <div class='tag-progress'>
                    <p>Low Priority<span>2/7</span></p>
                    <progress class="progress progress--low" max="7" value="2"> 2 </progress>
                </div>
            </div><!--================ End of Task progress =================-->

            <!--================ Start Recent Activity =================-->
            <div class='task-activity'>
                <h2>Recent Activity</h2>
                <ul>
                    <li>
                        <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
                        <b>Jose </b>uploaded 3 documents
                        <time datetime="2021-11-24T20:00:00">Aug 10</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b   b>Mario </b> left a comment
                        <time datetime="2021-11-24T20:00:00">Aug 10</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--edit'><i class="fas fa-pencil-alt"></i></span>
                        <b>Asdrubal </b>uploaded 3 documents
                        <time datetime="2021-11-24T20:00:00">Aug 11</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
                        <b>Kristopher </b>uploaded 3 documents
                        <time datetime="2021-11-24T20:00:00">Aug 11</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b>Deibi </b> left a comment
                        <time datetime="2021-11-24T20:00:00">Aug 12</time>
                    </li>
                </ul>
            </div><!--================ End of Recent Activity =================-->
        </aside>

    </div><!--================ End of div app =================-->

    <script src="../../Scripts/JS/projects/createTask.js"></script>
    <script src="../../Scripts/JS/projects/projects.js"></script>

</body>
</html>