<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/Content/css/projects.css" />

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class='app'>

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    START SECTION 1 - Main Panel
        /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <main class='project'>
            <div class='project-info'>
                <h1>Project Homepage</h1>
                <h1 id="projectName"></h1>
                <div class='project-participants'>
                    <div class='task-delete-button'>
                        <button id="Borrar">Eliminar este proyecto</button>
                    </div>
                </div>
            </div>

            <!--================ Start Tasks Panel =================-->
            <div class='project-tasks'>

                <!--================ Start Column - Task Ready =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>Tareas por iniciar</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>

                    <!--================ Start Task - Create new task =================-->
                    <div class='task-create' draggable="false">
                        <div class='task-create__tags'>
                            <span>Crear nueva tarea</span>
                            <button class='task__options'><i class="fas fa-clipboard-check"></i></button>
                        </div>
                        <div class='task-create__textarea'>
                            <div class="form-group">
                                <textarea id="description" name="description" placeholder="Cuál es la description de la tarea?"></textarea>
                            </div>
                        </div>
                        <div class='task-create__stats'>
                            <span><i class="fas fa-tag"></i></span>
                            <div class='task-create__tags'>
                                <select id="tagSelect" class='custom-select'>
                                    <option value="Low Priority">Prioridad baja</option>
                                    <option value="Medium Priority">Prioridad media</option>
                                    <option value="High Priority">Prioridad alta</option>
                                </select>
                            </div>
                        </div>
                        <div class='task-create__button' draggable='false'>
                            <button id="saveButton">Crear Tarea</button>
                        </div>
                    </div>
                    <!--================ Here we have the "Task Ready" tasks =================-->

                </div><!--================ End of Column - Task Ready =================-->

                <!--================ Start Column - In Progress =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>En progreso</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <!--================ Here we have the "In Progress" tasks =================-->

                </div><!--================ End of Column - In Progress =================-->

                <!--================ Start Column - Needs review =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>En revisión</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <!--================ Here we have the "Needs Review" tasks =================-->

                </div><!--================ End of Column - Needs review =================-->

                <!--================ Start Column - Tasks Done =================-->
                <div class='project-column'>
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>Completadas</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <!--================ Here we have the "Done" tasks =================-->

                </div><!--================ End of Column - Tasks Done =================-->

            </div><!--================ End of Tasks Panel =================-->
        </main><!--================ End of Main Panel =================-->

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                                    START SECTION 2 - Tasks progress & Activity Panel
        /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <aside class='task-details'>

            <!--================ Start Task progress =================-->
            <div class='tag-progress'>
                <h2>Progreso de tareas</h2>
                <div class='tag-progress'>
                    <p>Alta prioridad <span id="progressHighText">0/0</span></p>
                    <progress id="progressHigh" class="progress progress--high" max="1" value="0"> 0 </progress>
                </div>
                <div class='tag-progress'>
                    <p>Prioridad media <span id="progressMediumText">0/0</span></p>
                    <progress id="progressMedium" class="progress progress--medium" max="1" value="0"> 0 </progress>
                </div>
                <div class='tag-progress'>
                    <p>Prioridad baja<span id="progressLowText">0/0</span></p>
                    <progress id="progressLow" class="progress progress--low" max="1" value="0"> 0 </progress>
                </div>
            </div><!--================ End of Task progress =================-->

            <!--================ Start Recent Activity =================-->
            <!--
            <div class='task-activity'>
                <h2>Actividad reciente</h2>
                <ul>
                    <li>
                        <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
                        <b>Jose </b>Subió 3 documentos
                        <time datetime="2021-11-24T20:00:00">Aug 10</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b   b>Mario </b> Hizo un comentario
                        <time datetime="2021-11-24T20:00:00">Aug 10</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--edit'><i class="fas fa-pencil-alt"></i></span>
                        <b>Asdrubal </b>Subió 3 documentos
                        <time datetime="2021-11-24T20:00:00">Aug 11</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
                        <b>Kristopher </b>Subió 3 documentos
                        <time datetime="2021-11-24T20:00:00">Aug 11</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b>Deibi </b> Hizo un comentario
                        <time datetime="2021-11-24T20:00:00">Aug 12</time>
                    </li>
                </ul>
            </div>-->
        <!--================ End of Recent Activity =================-->
        </aside>

    </div><!--================ End of div app =================-->

    <!-- Scripts for projects tasks-->
    <script src="../../Scripts/JS/projects/progressTask.js"></script>
    <script src="../../Scripts/JS/projects/loadTask.js"></script>
    <script src="../../Scripts/JS/projects/createTask.js"></script>
    <script src="../../Scripts/JS/projects/homeTask.js"></script>
    <script src="../../Scripts/JS/projects/updateTask.js"></script>
    <script src="../../Scripts/JS/projects/deleteTask.js"></script>

    <!-- Scripts for projects -->
    <script src="../../Scripts/JS/index/projects/deleteProject.js"></script>

</body>
</html>