@charset "UTF-8";
/* sass --watch .\Content\scss\projects.scss .\Content\css\projects.css */
/* ==========>  Root vars  <========== */
:root {
  --color-primary: #6380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --bg: #f6f6f9;
  --header: #fbf4f6;
  --text: #2e2e2f;
  --white: #ffffff;
  --light-grey: #c4cad3;
  --tag-1: #ceecfd;
  --tag-1-text: #2e87ba;
  --tag-2: #d6ede2;
  --tag-2-text: #13854e;
  --tag-3: #ceecfd;
  --tag-3-text: #2d86ba;
  --tag-4: #f2dcf5;
  --tag-4-text: #a734ba;
  --border-radius: 0.5rem;
  --box-padding: 0.2rem;
}

/*
============================>   General Configs   <============================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--text);
}

.app {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
}

/*
============================>   Project Configs   <============================
*/
.project {
  padding: 2rem;
  max-width: 75%;
  width: 100%;
  display: inline-block;
}
.project-info {
  padding: 2rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.project-participants {
  display: flex;
  align-items: center;
}
.project-participants span, .project-participants__add {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: var(--color-primary);
  border-radius: 100rem;
  margin: 0 0.2rem;
}
.project-participants__add {
  background: transparent;
  border: 1px dashed rgb(150, 150, 150);
  font-size: 0;
  cursor: pointer;
  position: relative;
}
.project-participants__add:after {
  content: "+";
  font-size: 15px;
  color: rgb(150, 150, 150);
}
.project-tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-column-gap: 1.5rem;
}
.project-column-heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-column-heading__title {
  font-size: 20px;
}
.project-column-heading__options {
  background: transparent;
  color: var(--light-grey);
  font-size: 18px;
  border: 0;
  cursor: pointer;
}

/*
============================>   Tasks Configs   <============================
*/
.task, .task-create {
  cursor: move; /* Cambia el cursor a "move" al pasar el ratón sobre el elemento */
  background-color: var(--white); /* Establece el color de fondo utilizando una variable CSS personalizada */
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom: 1rem;
  border: 3px dashed transparent;
}
.task:hover, .task-create:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px; /* Cambia la sombra al pasar el ratón sobre el elemento */
  border-color: rgba(162, 179, 207, 0.2) !important; /* Cambia el color del borde al pasar el ratón sobre el elemento, utilizando la propiedad "!important" para anular cualquier otro estilo de borde */
}
.task p, .task-create p {
  font-size: 15px;
  margin: 1.2rem 0;
}
.task__tag, .task-create__tag {
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
}
.task__tag--high, .task-create__tag--high {
  color: var(--tag-4-text); /* Establece el color del texto utilizando una variable CSS personalizada */
  background-color: var(--tag-4); /* Establece el color de fondo utilizando una variable CSS personalizada */
}
.task__tag--low, .task-create__tag--low {
  color: var(--tag-3-text); /* Establece el color del texto utilizando una variable CSS personalizada */
  background-color: var(--tag-3); /* Establece el color de fondo utilizando una variable CSS personalizada */
}
.task__tag--medium, .task-create__tag--medium {
  color: var(--tag-2-text); /* Establece el color del texto utilizando una variable CSS personalizada */
  background-color: var(--tag-2); /* Establece el color de fondo utilizando una variable CSS personalizada */
}
.task__tags, .task-create__tags {
  width: 100%;
  display: flex;
  align-items: center;
  /* Incluye un mixin llamado "display" para aplicar propiedades de visualización */
  justify-content: space-between;
}
.task__tags button:hover .fa-trash, .task-create__tags button:hover .fa-trash {
  color: var(--color-danger);
}
.task__options, .task-create__options {
  background: transparent;
  border: 0;
  color: var(--light-grey); /* Establece el color del texto utilizando una variable CSS personalizada */
  font-size: 17px;
}
.task__stats, .task-create__stats {
  position: relative;
  width: 100%;
  color: var(--light-grey); /* Establece el color del texto utilizando una variable CSS personalizada */
  font-size: 12px;
}
.task__stats span:not(:last-of-type), .task-create__stats span:not(:last-of-type) {
  margin-right: 1rem;
}
.task__stats svg, .task-create__stats svg {
  margin-right: 5px;
}
.task__owner, .task-create__owner {
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  background: var(--color-primary); /* Establece el color de fondo utilizando una variable CSS personalizada */
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}

.task-hover {
  border: 3px dashed var(--light-grey) !important;
  border-color: rgba(162, 179, 207, 0.4) !important;
}

.task-details, .task-create-details {
  width: 24%;
  border-left: 1px solid #d9e0e9;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 3rem 2rem;
}

.task-create__tags {
  margin-bottom: 10px;
  margin-left: 5px; /* Añade un margen izquierdo para separar el span del select */
}
.task-create__tags select {
  border-color: var(--light-grey);
  color: var(--text);
  border-radius: var(--border-radius);
  padding: var(--box-padding);
}
.task-create__tags select:focus {
  outline: 2px solid var(--color-primary); /* Cambia el color y el grosor del borde */
}
.task-create__tags select option:hover {
  color: red;
}

option:hover {
    color: red;
}
.task-create__tags select option:checked {
  background-color: var(--color-primary); /* Cambia el color de fondo de la opción seleccionada */
  color: var(--white); /* Cambia el color del texto de la opción seleccionada */
}
.task-create__textarea textarea {
  width: 100%;
  resize: none; /* Desactiva la capacidad de redimensionar */
  border-color: var(--light-grey);
  color: var(--text);
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: var(--border-radius);
}
.task-create__textarea textarea:focus {
  outline: 2px solid var(--color-primary); /* Cambia el color y el grosor del borde */
}
.task-create__stats {
  display: flex; /* Establece el contenedor como flexbox */
  align-items: baseline; /* Centra verticalmente los elementos en el contenedor */
}
.task-create__button button {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--white);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px; /* Ajusta el valor según tu preferencia */
  margin-top: 20px; /* Espacio entre los botones */
}

/*
============================>   Tags Configs   <============================
*/
.tag-progress {
  margin: 1.5rem 0;
}
.tag-progress h2 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.tag-progress p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.tag-progress p span {
  color: rgb(180, 180, 180);
}
.tag-progress .progress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  height: 10px;
  /* Estilos para la barra de progreso y su valor */
  /* Estilos para la barra de progreso según la clase */
}
.tag-progress .progress::-webkit-progress-bar, .tag-progress .progress::-webkit-progress-value {
  border-radius: 10px;
}
.tag-progress .progress--high::-webkit-progress-bar {
  background-color: #ecd8e6;
}
.tag-progress .progress--high::-webkit-progress-value {
  background: #d459e8;
}
.tag-progress .progress--medium::-webkit-progress-bar {
  background-color: #dee7e3;
}
.tag-progress .progress--medium::-webkit-progress-value {
  background-color: #46bd84;
}
.tag-progress .progress--low::-webkit-progress-bar {
  background-color: #d8e7f4;
}
.tag-progress .progress--low::-webkit-progress-value {
  background-color: #08a0f7;
}

.task-activity h2 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.task-activity li {
  list-style: none;
  margin: 1rem 0;
  padding: 0rem 1rem 1rem 3rem;
  position: relative;
}
.task-activity time {
  display: block;
  color: var(--light-grey);
}

.task-icon {
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* Aquí debería ir la directiva SCSS correspondiente */
  justify-content: center;
  /* Estilos para los iconos de tarea según la clase */
}
.task-icon svg {
  font-size: 12px;
  color: var(--white);
}
.task-icon--attachment {
  background-color: #fba63c;
}
.task-icon--comment {
  background-color: #5dc983;
}
.task-icon--edit {
  background-color: #7784ee;
}

/*
============================>   Media Queries: Small Laptops/Big Tablets  <============================
*/
@media only screen and (max-width: 1300px) {
  .project {
    max-width: 100%;
  }
  .task-details {
    width: 100%;
    display: flex;
  }
  .tag-progress,
  .task-activity {
    flex-basis: 50%;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .project-column:nth-child(2),
  .project-column:nth-child(3) {
    display: none;
  }
  .project-tasks {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .project-column:nth-child(4) {
    display: none;
  }
  .project-tasks {
    grid-template-columns: 1fr;
  }
  .task-details {
    flex-wrap: wrap;
    padding: 3rem 1rem;
  }
  .tag-progress,
  .task-activity {
    flex-basis: 100%;
  }
  h1 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=projects.css.map */
